<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-logo">
        <img
          alt="sobonix Logo"
          width="206px"
          height="47px"
          src="{{asset 'images/theme/logo.svg'}}"
        />
      </div>
      <div class="footer-contact-panel">
        <div class="footer-contact-wrapper">
          <div class="footer-contact-item">
            <img
              alt="call-icon"
              class="contact-icon"
              src="{{asset 'images/theme/call-icon.svg'}}"
            />
            +91 88515 25650
          </div>
          <div class="footer-contact-item">
            <img
              alt="mail-icon"
              class="contact-icon"
              src="{{asset 'images/theme/mail-icon.svg'}}"
            />
            contact@sobonix.com
          </div>
          <div class="footer-contact-item">
            <img
              alt="location-icon"
              class="contact-icon"
              src="{{asset 'images/theme/location-icon.svg'}}"
            />
            E 279, Industrial Area, Sector 75, Mohali, Punjab, India, 160055
          </div>
        </div>
      </div>
    </div>

    <div class="footer-links">
      <div class="footer-links-column">
        <p class="footer-column-title">Industries</p>
        <div class="footer-links-list">
          <a
            class="footer-link"
            href="https://www.sobonix.com/industries/ecommerce-online-retail"
          >E-commerce Online Retail</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/industries/edtech-online-learning"
          >Edtech Online Learning</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/industries/healthcare-medtech"
          >Healthcare Medtech</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/industries/proptech-real-estate-solutions"
          >Proptech Realestate Solutions</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/industries/beauty-wellness-lifestyle"
          >Beauty Wellness Lifestyle</a>
        </div>
      </div>

      <div class="footer-links-column">
        <p class="footer-column-title">Services</p>
        <div class="footer-links-list">
          <a
            class="footer-link"
            href="https://www.sobonix.com/services/web-development-company"
          >Web Development</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/services/artificial-intelligence-company"
          >Artificial Intelligence Solutions</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/services/custom-saas-development-company"
          >Custom Saas Development</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/services/enterprise-software-development-company"
          >Enterprise Software Development</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/services/ui-ux-design-frontend-development-company"
          >UX/UI Design &amp; Development</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/services/cloud-microservices-architecture-company"
          >Cloud Microservices Architecture</a>
        </div>
      </div>

      <div class="footer-links-column">
        <p class="footer-column-title">Company</p>
        <div class="footer-links-list">
          <a class="footer-link" href="https://www.sobonix.com/about-us">About
            Us</a>
          <a class="footer-link" href="https://www.sobonix.com/our-process">Our
            Process</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/case-studies"
          >Case Studies</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/career"
          >Career</a>
          <a class="footer-link" href="https://www.sobonix.com/blog"
          >Blogs</a>
          <a
            class="footer-link"
            href="https://www.sobonix.com/contact-us"
          >Contact Us</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-copyright">
        © 2025 SOBONIX. All Rights Reserved.
      </div>

      <div class="footer-social">
        <a target="_blank" href="https://www.facebook.com">
          <img
            alt="facebook-icon"
            class="social-icon facebook-icon"
            src="{{asset 'images/theme/facebook-icon.svg'}}"
          />
        </a>
        <a target="_blank" href="https://www.instagram.com">
          <img
            alt="instagram-icon"
            class="social-icon instagram-icon"
            src="{{asset 'images/theme/instagram-icon.svg'}}"
          />
        </a>
        <a target="_blank" href="https://www.behance.net">
          <img
            alt="behance-icon"
            class="social-icon behance-icon"
            src="{{asset 'images/theme/be-icon.svg'}}"
          />
        </a>
        <a target="_blank" href="https://www.linkedin.com">
          <img
            alt="linkedin-icon"
            class="social-icon linkedin-icon"
            src="{{asset 'images/theme/linkedin-icon.svg'}}"
          />
        </a>
        <a target="_blank" href="https://www.twitter.com">
          <img
            alt="twitter-icon"
            class="social-icon twitter-icon"
            src="{{asset 'images/theme/twitter-icon.svg'}}"
          />
        </a>
        <a target="_blank" href="https://www.upwork.com">
          <img
            alt="upwork-icon"
            class="social-icon upwork-icon"
            src="{{asset 'images/theme/upwork-icon.svg'}}"
          />
        </a>
        <a target="_blank" href="https://www.dribbble.com">
          <img
            alt="dribble-icon"
            class="social-icon dribble-icon"
            src="{{asset 'images/theme/dribble-icons.svg'}}"
          />
        </a>
      </div>

      <div class="footer-legal">
        <a class="legal-link" href="/privacy-policy">Privacy Policy</a>
        |
        <a class="legal-link" href="/terms-conditions">Terms &amp; Conditions</a>
        |
        <a class="legal-link" href="/sitemap">Site Map</a>
      </div>
    </div>
  </div>
</footer>